
<MatH3>Select a topic to view top YouTube training videos</MatH3>
@if (IsVideoReady)
{
    <button class="btn btn-primary" style="margin-left:auto; margin-right:auto" @onclick="@(() => HandleVideoEnd(true))">Close Player</button>
    <CascadingValue Value="selectedList">
        <VideoPlayer VideoId="@selectedVideoId" PlayerReadyChanged="HandleVideoEnd" />
    </CascadingValue>
}
@if (IsPageVideosReady)
{
    <MatAccordion Multi="true">
        @foreach (var videos in Videos.VideosList)
        {
            <MatExpansionPanel>
                <MatExpansionPanelSummary>
                    <MatExpansionPanelHeader>Topic: @videos.Name</MatExpansionPanelHeader>
                </MatExpansionPanelSummary>
                <MatExpansionPanelDetails>
                    <div class="text-center">
                        <MatH4>@videos.Name</MatH4>
                        @foreach (var video in videos.Videos)
                        {
                            <MatButton @onmousedown="@(() => selectedVideoId = video.VideoId)" @onmouseup="PlayVideos">@video.Title</MatButton>
                            <br />
                        }
                    </div>
                </MatExpansionPanelDetails>
            </MatExpansionPanel>
        }
    </MatAccordion>
}
