@using PracticeCSharpPWA.Shared.Models.CodeEditorModels

<MatH3>Practice c#</MatH3>
@if (!string.IsNullOrWhiteSpace(CodeOutput))
{
    <div class="codeOut">
        <Animation Effect="Effect.ZoomIn" Speed="Speed.Slow" Enabled="isAnimate" OnAnimationEnd="ToggleAnimation">
            Code Output: @CodeOutput
           
        </Animation>
    </div>
}
<MatAccordion>
    <MatExpansionPanel>
        <MatExpansionPanelSummary>
            <MatExpansionPanelHeader>
                Interactive Shell (REPL)
            </MatExpansionPanelHeader>
            <MatExpansionPanelSubHeader>
                Dynamically compile and run c# line-by-line
            </MatExpansionPanelSubHeader>
        </MatExpansionPanelSummary>
        <MatExpansionPanelDetails>
            <ReplShell CodeOutputChanged="HandleOutputChange" />
        </MatExpansionPanelDetails>
    </MatExpansionPanel>
    <MatExpansionPanel>
        <MatExpansionPanelSummary>
            <MatExpansionPanelHeader>
                Code Editor
            </MatExpansionPanelHeader>
            <MatExpansionPanelSubHeader>
                Add or select and modify a full c# code block, then execute
            </MatExpansionPanelSubHeader>
        </MatExpansionPanelSummary>
        <MatExpansionPanelDetails>
            <MatTabGroup>
               
                <MatTab Label="Collections">
                    <hr/>
                    <MatButton Label="ArrayList" @onmousedown="@(() => codeSnippet = CodeSnippets.ARRAYLIST)" @onmouseup="UpdateCodeSnippet"/>
                    <MatButton Label="Stack" @onmousedown="@(() => codeSnippet = CodeSnippets.STACK)" @onmouseup="UpdateCodeSnippet"/>
                    <MatButton Label="Queue" @onmousedown="@(() => codeSnippet = CodeSnippets.QUEUE)" @onmouseup="UpdateCodeSnippet"/>
                    <MatButton Label="HashTable" @onmousedown="@(() => codeSnippet = CodeSnippets.HASHTABLE)" @onmouseup="UpdateCodeSnippet"/>
                    <MatButton Label="List" @onmousedown="@(() => codeSnippet = CodeSnippets.LIST)" @onmouseup="UpdateCodeSnippet"/>
                    <MatButton Label="Dictionary" @onmousedown="@(() => codeSnippet = CodeSnippets.DICTIONARY)" @onmouseup="UpdateCodeSnippet"/>
                </MatTab>
                <MatTab Label="Strings">
                    <hr/>
                    <MatButton Label="Concatenation" @onmousedown="@(() => codeSnippet = CodeSnippets.CONCATENATION)" @onmouseup="UpdateCodeSnippet"/>
                    <MatButton Label="String.Format" @onmousedown="@(() => codeSnippet = CodeSnippets.FORMAT)" @onmouseup="UpdateCodeSnippet"/>
                    <MatButton Label="Interpolation" @onmousedown="@(() => codeSnippet = CodeSnippets.INTERPOLATION)" @onmouseup="UpdateCodeSnippet"/>
                    <MatButton Label="SubString" @onmousedown="@(() => codeSnippet = CodeSnippets.SUBSTRING)" @onmouseup="UpdateCodeSnippet"/>
                    <MatButton Label="Array to string" @onmousedown="@(() => codeSnippet = CodeSnippets.ARRAYTOSTRING)" @onmouseup="UpdateCodeSnippet"/>
                    <MatButton Label="String to array" @onmousedown="@(() => codeSnippet = CodeSnippets.STRINGTOARRAY)" @onmouseup="UpdateCodeSnippet"/>
                </MatTab>
                <MatTab Label="Conditionals and Loops">
                    <hr/>
                    <MatButton Label="If Statement" @onmousedown="@(() => codeSnippet = CodeSnippets.IFCONDITIONAL)" @onmouseup="UpdateCodeSnippet"/>
                    <MatButton Label="If-Else Statement" @onmousedown="@(() => codeSnippet = CodeSnippets.IFELSE)" @onmouseup="UpdateCodeSnippet"/>
                    <MatButton Label="If-Else if-Else Statement" @onmousedown="@(() => codeSnippet = CodeSnippets.ELSEIF)" @onmouseup="UpdateCodeSnippet"/>
                    <MatButton Label="Switch Statement" @onmousedown="@(() => codeSnippet = CodeSnippets.SWITCH)" @onmouseup="UpdateCodeSnippet"/>
                    <MatButton Label="For Loop" @onmousedown="@(() => codeSnippet = CodeSnippets.FORLOOP)" @onmouseup="UpdateCodeSnippet"/>
                    <MatButton Label="Foreach Loop" @onmousedown="@(() => codeSnippet = CodeSnippets.FOREACHLOOP)" @onmouseup="UpdateCodeSnippet"/>
                </MatTab>
                <hr/>
            </MatTabGroup>
            @if (!string.IsNullOrEmpty(codeSnippet))
            {
                <MonacoEdit CodeSnippet="@codeSnippet" />
            }
        </MatExpansionPanelDetails>
    </MatExpansionPanel>
</MatAccordion>
